### ingest data from college dataset

In [1]:
dataset_id = "college_staging"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'alert-result-266803:college_staging' successfully created.

### creating tables

In [3]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Classes \
'gs://bucket_demo_mbayh_2020/Classes.csv'

Waiting on bqjob_r7dc56c334f91d71b_000001700db3ab07_1 ... (2s) Current status: DONE

In [4]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Current_Students \
'gs://bucket_demo_mbayh_2020/Current_Students.csv'

Waiting on bqjob_r3c752be51716b4d9_000001700dbb08e1_1 ... (2s) Current status: DONE

In [5]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.New_Students \
'gs://bucket_demo_mbayh_2020/New_Students.csv'

Waiting on bqjob_r303972f2b5a4f016_000001700dbb632b_1 ... (2s) Current status: DONE

### get record count for all 3 tables

In [7]:
%%bigquery
select count(*) as count from college_staging.Classes

   count
0     13

In [8]:
%%bigquery
select count(*) as count from college_staging.Current_Students

   count
0     13

In [9]:
%%bigquery
select count(*) as count from college_staging.New_Students

   count
0      7

### read sample records from tables

In [1]:
%%bigquery
select * from college_staging.Classes
limit 5

,tid,instructor,dept,cno,cname,credits
0,fares,Fares Fraij,CS,CS331E,Elements of Software Engineering,3
1,abraham,Prof. Sarah Abraham,CS,CS329E,Elements of Mobile Computing,3
2,mitra,"Mitra, Shyamal",CS,CS313E,Elements of Software Design,3
3,cannata,PHILIP CANNATA,CS,CS326E,Elements of Networking,3
4,cannata,"Cannata, Philip",CS,CS347,Data Management,3