### modeling the hdv dataset ###

In [9]:
!bq --location=US mk --dataset hdv_modeled

BigQuery error in mk operation: Dataset 'alert-result-266803:hdv_modeled'
already exists.

First, we create a Jurisdiction table composed of states, county names, and FIPS codes (numerical equivalent to county).

In [16]:
%%bigquery
create table hdv_modeled.Jurisdiction as 
select distinct state, jurisdiction as jname, fipscode
from hdv_staging.House2016
union distinct
select distinct state, jurisdiction as jname, fipscode
from hdv_staging.House2018
union distinct
select distinct state, jurisdiction as jname, fipscode
from hdv_staging.Senate2016
union distinct
select distinct state, jurisdiction as jname, fipscode
from hdv_staging.Senate2018
union distinct
select distinct state, jurisdiction as jname, fipscode
from hdv_staging.President2016

Empty DataFrame
Columns: []
Index: []

Now, we need to check for the primary key. From Milestone 3, we noticed that some jurisdictions are represented with the same fipscode. This is an issue we will rectify when cleaning the data. For now, we propose that state, jname, and fipscode are the primary keys.

In [25]:
%%bigquery
select count(*)
from hdv_modeled.Jurisdiction;

    f0_
0  6601

In [27]:
%%bigquery
select count(distinct concat(state,jname,fipscode))
from hdv_modeled.Jurisdiction

    f0_
0  6601

Next, we create an Election table featuring office and year.

In [17]:
%%bigquery
create table hdv_modeled.Election as 
select distinct office, year 
from hdv_staging.House2016
union distinct
select distinct office, year
from hdv_staging.House2018
union distinct
select distinct office, year
from hdv_staging.Senate2016
union distinct
select distinct office, year
from hdv_staging.Senate2018
union distinct
select distinct office, year
from hdv_staging.President2016

Empty DataFrame
Columns: []
Index: []

Now, we need to establish a primary key. We propose the combination of office and year as the primary key.

In [29]:
%%bigquery
select count(*)
from hdv_modeled.Election

   f0_
0    6

In [28]:
%%bigquery
select count(distinct concat(office,year))
from hdv_modeled.Election

   f0_
0    6

Our last entity table is Candidate. This includes names and party affilitations.

In [18]:
%%bigquery
create table hdv_modeled.Candidate as 
select distinct candidate as cname, party 
from hdv_staging.House2016
union distinct
select distinct candidate as cname, party
from hdv_staging.House2018
union distinct
select distinct candidate as cname, party
from hdv_staging.Senate2016
union distinct
select distinct candidate as cname, party
from hdv_staging.Senate2018
union distinct
select distinct candidate as cname, party
from hdv_staging.President2016

Empty DataFrame
Columns: []
Index: []

Now, we establish the primary key: the combination of name and party.

In [31]:
%%bigquery
select count(*) from hdv_modeled.Candidate

    f0_
0  2773

In [36]:
%%bigquery
select count(distinct concat(party, cname))
from hdv_modeled.Candidate

    f0_
0  2439

This indicates that there may be duplicates in our candidates. This is an issue we may have to address in our data cleaning, if present:

In [33]:
%%bigquery
select c.cname, c.party, count(*)
from hdv_modeled.Candidate c
GROUP BY c.cname, c.party
HAVING count(*) > 1

Empty DataFrame
Columns: [cname, party, f0_]
Index: []

There does not seem to be any duplicates after all! The real error is that our previous query does not detect null fields for candidate. We claim that the discrepancy between 2773 and 2439 (2773-2439 = 334) is in null fields for candidates:

In [58]:
%%bigquery
select count(*)
from hdv_modeled.Candidate
where party is null

   f0_
0  334

Lastly, we create a junction table Results between Candidate, Election, and Jurisdiction. All 3 tables have m:n relationships with one another.

In [24]:
%%bigquery
create table hdv_modeled.Results as 
select distinct state, jurisdiction as jname, fipscode, candidate as cname, party, office, year, votes, total_votes
from hdv_staging.House2016
union distinct
select distinct state, jurisdiction as jname, fipscode, candidate as cname, party, office, year, votes, total_votes
from hdv_staging.House2018
union distinct
select distinct state, jurisdiction as jname, fipscode, candidate as cname, party, office, year, votes, total_votes
from hdv_staging.Senate2016
union distinct
select distinct state, jurisdiction as jname, fipscode, candidate as cname, party, office, year, votes, total_votes
from hdv_staging.Senate2018
union distinct
select distinct state, jurisdiction as jname, fipscode, candidate as cname, party, office, year, votes, total_votes
from hdv_staging.President2016
order by year, office, state, jname, votes desc, cname

Empty DataFrame
Columns: []
Index: []

Having created the junction table, we attempt to define a primary key among the many foreign keys present.

In [41]:
%%bigquery
select count(*)
from hdv_modeled.Results

      f0_
0  121227

In [56]:
%%bigquery
select count(distinct concat(cname, state, jname, office, year, votes, total_votes))
from hdv_modeled.Results

      f0_
0  121227

The Results table dictates a primary key consisting of cname, state, jname, office, year, votes, total_votes. Some candidates do not have a party affiliation (i.e. null), which necessitates the inclusion of votes and total_votes in primary key.

### Beam Transforms ###

In [1]:
%run Jurisdiction_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/.local/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'hdv_modeled'
 projectId: 'alert-result-266803'
 tableId: 'Jurisdiction'> referenced by query SELECT state, jname, fipscode FROM hdv_modeled.Jurisdiction where state = "NH" order by state, jname
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset alert-result-266803:temp_dataset_4aea8d82c57c4c9ab295039032860efc does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.11 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.gcp.bigquery_tools:Created table alert-result-266803.hdv_modeled.Jurisdiction_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'state'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'jname'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'fipscode'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583643568037
 etag: 'ktV/3HEYWZvsGafrKcsxUw=='
 id: 'alert-result-266803:hdv_modeled.Jurisdiction_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583643568069
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'state'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'jname'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'fipscode'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/alert-result-266803/datasets/hdv_modeled/tables/Jurisdiction_Beam'
 tableReference: <TableReference
 datasetId: 'hdv_modeled'
 projectId: 'alert-result-266803'
 tableId: 'Jurisdiction_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.

Now, we establish the primary key for the Jurisdiction_Beam table: the composite of state and jname

In [2]:
%%bigquery
select count(*)
from hdv_modeled.Jurisdiction_Beam

   f0_
0  315

In [3]:
%%bigquery
select count(distinct concat(state,jname))
from hdv_modeled.Jurisdiction_Beam

   f0_
0  315

Now, we check whether this table has a FK relationship with the table from our potential secondary dataset: education. The suspected foreign key is fipscode, which is the numerical equivalent of each jurisdiction.

In [4]:
%%bigquery
select count(*) from hdv_modeled.Jurisdiction_Beam jb left join education.education e
on jb.fipscode = e.FIPS_Code where e.FIPS_Code is null

   f0_
0    0

At least for the subset of data that is transformed, fipscode is indeed a foreign key.

Now, we turn our attention to the full Jurisdiction table.

In [17]:
%run Jurisdiction_beam_dataflow.py

/home/jupyter/.local/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))

Now, we check the primary key, as before.

In [2]:
%%bigquery
select count(*)
from hdv_modeled.Jurisdiction_Beam_DF

    f0_
0  4713

In [3]:
%%bigquery
select count(distinct concat(state,jname))
from hdv_modeled.Jurisdiction_Beam_DF

    f0_
0  4713

As expected, state and jname are appropriate primary keys. Now, we see if this full table has fipscode as a foreign key.

In [4]:
%%bigquery
select count(*) from hdv_modeled.Jurisdiction_Beam_DF jb left join education.education e
on jb.fipscode = e.FIPS_Code where e.FIPS_Code is null

   f0_
0   40

In [6]:
%%bigquery
select jb.state, jb.jname, jb.fipscode from hdv_modeled.Jurisdiction_Beam_DF jb left join education.education e
on jb.fipscode = e.FIPS_Code where e.FIPS_Code is null order by jb.state, jb.jname

   state        jname  fipscode
0     AK   District 1      2901
1     AK  District 10      2910
2     AK  District 11      2911
3     AK  District 12      2912
4     AK  District 13      2913
5     AK  District 14      2914
6     AK  District 15      2915
7     AK  District 16      2916
8     AK  District 17      2917
9     AK  District 18      2918
10    AK  District 19      2919
11    AK   District 2      2902
12    AK  District 20      2920
13    AK  District 21      2921
14    AK  District 22      2922
15    AK  District 23      2923
16    AK  District 24      2924
17    AK  District 25      2925
18    AK  District 26      2926
19    AK  District 27      2927
20    AK  District 28      2928
21    AK  District 29      2929
22    AK   District 3      2903
23    AK  District 30      2930
24    AK  District 31      2931
25    AK  District 32      2932
26    AK  District 33      2933
27    AK  District 34      2934
28    AK  District 35      2935
29    AK  District 36      2936
30    AK  District 37      2937
31    AK  District 38      2938
32    AK  District 39      2939
33    AK   District 4      2904
34    AK  District 40      2940
35    AK   District 5      2905
36    AK   District 6      2906
37    AK   District 7      2907
38    AK   District 8      2908
39    AK   District 9      2909

All of the foreign key violations occur in Alaska; the electoral districts reported in this data do not correspond with the traditional FIPS codes for Alaska. We may have to disregard Alaska in our analysis or convert these FIPS code values to their conventional forms -- although there may not be a straightforward way of doing so, especially if an electoral district overlaps multiple counties. Considering the tables' current form, fipscode is not a legitimate foreign key.

Now, we transform the Candidate table.

In [1]:
%run Candidate_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/.local/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'hdv_modeled'
 projectId: 'alert-result-266803'
 tableId: 'Candidate'> referenced by query SELECT cname, party FROM hdv_modeled.Candidate limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset alert-result-266803:temp_dataset_87e3c6bd55204e8cb7ab8d1e4937d343 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table alert-result-266803.hdv_modeled.Candidate_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'cname'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'party'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1583548616563
 etag: 'h8wMV7HbPlsVnaolbEy4Rw=='
 id: 'alert-result-266803:hdv_modeled.Candidate_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583548616604
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'cname'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'party'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/alert-result-266803/datasets/hdv_modeled/tables/Candidate_Beam'
 tableReference: <TableReference
 datasetId: 'hdv_modeled'
 projectId: 'alert-result-266803'
 tableId: 'Candidate_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.

We claim that the combination of cname and party forms the primary key for this table.

In [2]:
%%bigquery
select count(*)
from hdv_modeled.Candidate_Beam

   f0_
0   49

In [3]:
%%bigquery
select count(distinct concat(cname,party))
from hdv_modeled.Candidate_Beam

   f0_
0   49

Since this preliminary result is acceptable, we move to the full Candidate table.

In [5]:
%run Candidate_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/.local/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://poutine_bucket/staging/student-df3.1583644005.658830/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://poutine_bucket/staging/student-df3.1583644005.658830/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/usr/bin/python3', '-m', 'pip', 'download', '--dest', '/tmp/tmp877ntl53', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://poutine_bucket/staging/student-df3.1583644005.658830/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://poutine_bucket/staging/student-df3.1583644005.658830/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://poutine_bucket/staging/student-df3.1583644005.658830/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/usr/bin/python3', '-m', 'pip', 'download', '--dest', '/tmp/tmp877ntl53', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://poutine_bucket/staging/student-df3.1583644005.658830/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://poutine_bucket/staging/student-df3.1583644005.658830/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://poutine_bucket/staging/student-df3.1583644005.658830/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-08T05:06:52.747017Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-07_21_06_51-1035167428614560218'
 location: 'us-central1'
 name: 'student-df3'
 projectId: 'alert-result-266803'
 stageStates: []
 startTime: '2020-03-08T05:06:52.747017Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-07_21_06_51-1035167428614560218]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-07_21_06_51-1035167428614560218?project=alert-result-266803
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-07_21_06_51-1035167428614560218 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:51.736Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-07_21_06_51-1035167428614560218. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:51.736Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-07_21_06_51-1035167428614560218.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:54.988Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:55.565Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:55.999Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.036Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Group by key: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.073Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.105Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.178Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.584Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.616Z: JOB_MESSAGE_DETAILED: Fusing consumer Format CNAME into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.649Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by key/Reify into Format CNAME
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.683Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by key/Write into Group by key/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.720Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by key/GroupByWindow into Group by key/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.756Z: JOB_MESSAGE_DETAILED: Fusing consumer Dedup candidate records into Group by key/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.789Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Dedup candidate records
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.824Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.859Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.899Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:56.923Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:57.114Z: JOB_MESSAGE_DEBUG: Executing wait step start13
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:57.180Z: JOB_MESSAGE_BASIC: Executing operation Group by key/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:57.215Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:57.252Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:57.293Z: JOB_MESSAGE_BASIC: Finished operation Group by key/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:57.357Z: JOB_MESSAGE_DEBUG: Value "Group by key/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:57.428Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format CNAME+Group by key/Reify+Group by key/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:06:57.471Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_251544590219080558". You can check its status with the bq tool: "bq show -j --project_id=alert-result-266803 dataflow_job_251544590219080558".
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-07_21_06_51-1035167428614560218 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:07:19.530Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:08:29.750Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_251544590219080558"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:08:30.442Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_940479466430400277" started. You can check its status with the bq tool: "bq show -j --project_id=alert-result-266803 dataflow_job_940479466430400277".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:08:56.333Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:08:56.359Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:09:00.764Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_940479466430400277" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:09:00.793Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_940479466430400277"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:09:42.456Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format CNAME+Group by key/Reify+Group by key/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:09:42.534Z: JOB_MESSAGE_BASIC: Executing operation Group by key/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:09:42.574Z: JOB_MESSAGE_BASIC: Finished operation Group by key/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:09:42.627Z: JOB_MESSAGE_BASIC: Executing operation Group by key/Read+Group by key/GroupByWindow+Dedup candidate records+Write BQ table/WriteToBigQuery/NativeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:09:53.970Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_251544590219080624". You can check its status with the bq tool: "bq show -j --project_id=alert-result-266803 dataflow_job_251544590219080624".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:10:04.514Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_251544590219080624" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:10:05.092Z: JOB_MESSAGE_BASIC: Finished operation Group by key/Read+Group by key/GroupByWindow+Dedup candidate records+Write BQ table/WriteToBigQuery/NativeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:10:05.183Z: JOB_MESSAGE_DEBUG: Executing success step success11
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:10:05.297Z: JOB_MESSAGE_DETAILED: Cleaning up.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:10:05.370Z: JOB_MESSAGE_DEBUG: Starting worker pool teardown.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:10:05.401Z: JOB_MESSAGE_BASIC: Stopping worker pool...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:11:22.867Z: JOB_MESSAGE_DETAILED: Autoscaling: Resized worker pool from 1 to 0.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:11:22.909Z: JOB_MESSAGE_BASIC: Worker pool stopped.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:11:22.945Z: JOB_MESSAGE_DEBUG: Tearing down pending resources...
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-07_21_06_51-1035167428614560218 is in state JOB_STATE_DONE

We select the combination of cname and party to be the primary key.

In [6]:
%%bigquery
select count(*)
from hdv_modeled.Candidate_Beam_DF

    f0_
0  2404

In [7]:
%%bigquery
select count(distinct concat(cname,party))
from hdv_modeled.Candidate_Beam_DF

    f0_
0  2404

The results indicate that this is indeed the primary key.

Finally, we transform the Results table. This is a child of all 3 other tables (Candidate, Election, Jurisdiction), so we will also test for foreign key violations.

In [6]:
%run Results_beam.py

/home/jupyter/.local/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'hdv_modeled'
 projectId: 'alert-result-266803'
 tableId: 'Results'> referenced by query SELECT state, jname, fipscode, cname, party, office, year, votes, total_votes FROM hdv_modeled.Results WHERE state = "DE"
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset alert-result-266803:temp_dataset_174f86f18e0640d29c103f8299f6660c does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table alert-result-266803.hdv_modeled.Results_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'state'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'jname'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'fipscode'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'cname'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'party'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'office'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'year'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'votes'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'total_votes'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'vote_pct'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'winner'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583562208089
 etag: 'nbA0Jrx/wS5go0bICXd4hg=='
 id: 'alert-result-266803:hdv_modeled.Results_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583562208131
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'state'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'jname'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'fipscode'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'cname'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'party'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'office'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'year'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'votes'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'total_votes'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'vote_pct'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'winner'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/alert-result-266803/datasets/hdv_modeled/tables/Results_Beam'
 tableReference: <TableReference
 datasetId: 'hdv_modeled'
 projectId: 'alert-result-266803'
 tableId: 'Results_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.

Now we check that the primary key (state,jname,cname,party,office,year) is valid

In [7]:
%%bigquery
select count(*)
from hdv_modeled.Results_Beam

   f0_
0   60

In [8]:
%%bigquery
select count(distinct concat(state,jname,cname,party,office,year))
from hdv_modeled.Results_Beam

   f0_
0   60

Now, we need to check that there are no foreign key violations:

In [9]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam rb left join hdv_modeled.Jurisdiction_Beam_DF jb
on rb.state = jb.state where jb.state is null

   f0_
0    0

In [10]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam rb left join hdv_modeled.Jurisdiction_Beam_DF jb
on rb.jname = jb.jname where jb.jname is null

   f0_
0    0

In [11]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam rb left join hdv_modeled.Jurisdiction_Beam_DF jb
on rb.fipscode = jb.fipscode where jb.fipscode is null

   f0_
0    0

In [12]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam rb left join hdv_modeled.Candidate_Beam_DF jb
on rb.cname = jb.cname where jb.cname is null

   f0_
0    0

In [13]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam rb left join hdv_modeled.Candidate_Beam_DF jb
on rb.party = jb.party where jb.party is null

   f0_
0    0

In [14]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam rb left join hdv_modeled.Election jb
on rb.office = jb.office where jb.office is null

   f0_
0    0

In [15]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam rb left join hdv_modeled.Election jb
on rb.year = jb.year where jb.year is null

   f0_
0    0

Lastly, we extend this analysis to the full table.

In [8]:
%run Results_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/.local/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://poutine_bucket/staging/student-df2.1583644625.752116/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://poutine_bucket/staging/student-df2.1583644625.752116/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/usr/bin/python3', '-m', 'pip', 'download', '--dest', '/tmp/tmp3i2_1nfx', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://poutine_bucket/staging/student-df2.1583644625.752116/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://poutine_bucket/staging/student-df2.1583644625.752116/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://poutine_bucket/staging/student-df2.1583644625.752116/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/usr/bin/python3', '-m', 'pip', 'download', '--dest', '/tmp/tmp3i2_1nfx', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://poutine_bucket/staging/student-df2.1583644625.752116/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://poutine_bucket/staging/student-df2.1583644625.752116/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://poutine_bucket/staging/student-df2.1583644625.752116/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-08T05:17:12.172006Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-07_21_17_11-4000460191317131930'
 location: 'us-central1'
 name: 'student-df2'
 projectId: 'alert-result-266803'
 stageStates: []
 startTime: '2020-03-08T05:17:12.172006Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-07_21_17_11-4000460191317131930]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-07_21_17_11-4000460191317131930?project=alert-result-266803
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-07_21_17_11-4000460191317131930 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:11.128Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-07_21_17_11-4000460191317131930.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:11.128Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-07_21_17_11-4000460191317131930. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:14.154Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:14.791Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:15.484Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:15.517Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Group duplicates together: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:15.553Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Form election groups: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:15.589Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Group by jname: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:15.629Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:15.650Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:15.784Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.033Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.065Z: JOB_MESSAGE_DETAILED: Fusing consumer Format JNAME into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.097Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by jname/Reify into Format JNAME
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.126Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by jname/Write into Group by jname/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.148Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by jname/GroupByWindow into Group by jname/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.178Z: JOB_MESSAGE_DETAILED: Fusing consumer Dedup jurisdiction records into Group by jname/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.200Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by election into Dedup jurisdiction records
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.228Z: JOB_MESSAGE_DETAILED: Fusing consumer Form election groups/Reify into Group by election
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.259Z: JOB_MESSAGE_DETAILED: Fusing consumer Form election groups/Write into Form election groups/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.293Z: JOB_MESSAGE_DETAILED: Fusing consumer Form election groups/GroupByWindow into Form election groups/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.331Z: JOB_MESSAGE_DETAILED: Fusing consumer Assign winners/losers into Form election groups/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.370Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by primary key into Assign winners/losers
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.403Z: JOB_MESSAGE_DETAILED: Fusing consumer Group duplicates together/Reify into Group by primary key
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.434Z: JOB_MESSAGE_DETAILED: Fusing consumer Group duplicates together/Write into Group duplicates together/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.461Z: JOB_MESSAGE_DETAILED: Fusing consumer Group duplicates together/GroupByWindow into Group duplicates together/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.489Z: JOB_MESSAGE_DETAILED: Fusing consumer Dedup results records into Group duplicates together/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.522Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Dedup results records
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.552Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.584Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.622Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.660Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.829Z: JOB_MESSAGE_DEBUG: Executing wait step start33
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.899Z: JOB_MESSAGE_BASIC: Executing operation Group by jname/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.933Z: JOB_MESSAGE_BASIC: Executing operation Form election groups/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.944Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.966Z: JOB_MESSAGE_BASIC: Executing operation Group duplicates together/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:16.975Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:17.021Z: JOB_MESSAGE_BASIC: Finished operation Group by jname/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:17.037Z: JOB_MESSAGE_BASIC: Finished operation Form election groups/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:17.037Z: JOB_MESSAGE_BASIC: Finished operation Group duplicates together/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:17.096Z: JOB_MESSAGE_DEBUG: Value "Group by jname/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:17.121Z: JOB_MESSAGE_DEBUG: Value "Group duplicates together/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:17.151Z: JOB_MESSAGE_DEBUG: Value "Form election groups/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:17.189Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format JNAME+Group by jname/Reify+Group by jname/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:17.236Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_11957239575642780051". You can check its status with the bq tool: "bq show -j --project_id=alert-result-266803 dataflow_job_11957239575642780051".
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-07_21_17_11-4000460191317131930 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:17:38.500Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:18:31.366Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_11957239575642780051"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:18:32.063Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_14087234893011330592" started. You can check its status with the bq tool: "bq show -j --project_id=alert-result-266803 dataflow_job_14087234893011330592".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:19:02.426Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_14087234893011330592" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:19:02.458Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_14087234893011330592"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:19:16.710Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:19:16.749Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:13.387Z: JOB_MESSAGE_BASIC: Finished operation Read from BigQuery+Format JNAME+Group by jname/Reify+Group by jname/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:13.450Z: JOB_MESSAGE_BASIC: Executing operation Group by jname/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:13.500Z: JOB_MESSAGE_BASIC: Finished operation Group by jname/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:13.567Z: JOB_MESSAGE_BASIC: Executing operation Group by jname/Read+Group by jname/GroupByWindow+Dedup jurisdiction records+Group by election+Form election groups/Reify+Form election groups/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:38.370Z: JOB_MESSAGE_BASIC: Finished operation Group by jname/Read+Group by jname/GroupByWindow+Dedup jurisdiction records+Group by election+Form election groups/Reify+Form election groups/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:38.442Z: JOB_MESSAGE_BASIC: Executing operation Form election groups/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:38.497Z: JOB_MESSAGE_BASIC: Finished operation Form election groups/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:38.562Z: JOB_MESSAGE_BASIC: Executing operation Form election groups/Read+Form election groups/GroupByWindow+Assign winners/losers+Group by primary key+Group duplicates together/Reify+Group duplicates together/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:59.360Z: JOB_MESSAGE_BASIC: Finished operation Form election groups/Read+Form election groups/GroupByWindow+Assign winners/losers+Group by primary key+Group duplicates together/Reify+Group duplicates together/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:59.425Z: JOB_MESSAGE_BASIC: Executing operation Group duplicates together/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:59.467Z: JOB_MESSAGE_BASIC: Finished operation Group duplicates together/Close
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:20:59.542Z: JOB_MESSAGE_BASIC: Executing operation Group duplicates together/Read+Group duplicates together/GroupByWindow+Dedup results records+Write BQ table/WriteToBigQuery/NativeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:21:20.776Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_11957239575642780437". You can check its status with the bq tool: "bq show -j --project_id=alert-result-266803 dataflow_job_11957239575642780437".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:21:31.417Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_11957239575642780437" done.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:21:32.052Z: JOB_MESSAGE_BASIC: Finished operation Group duplicates together/Read+Group duplicates together/GroupByWindow+Dedup results records+Write BQ table/WriteToBigQuery/NativeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:21:32.107Z: JOB_MESSAGE_DEBUG: Executing success step success31
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:21:32.218Z: JOB_MESSAGE_DETAILED: Cleaning up.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:21:32.268Z: JOB_MESSAGE_DEBUG: Starting worker pool teardown.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:21:32.295Z: JOB_MESSAGE_BASIC: Stopping worker pool...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:23:10.091Z: JOB_MESSAGE_DETAILED: Autoscaling: Resized worker pool from 1 to 0.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:23:10.134Z: JOB_MESSAGE_BASIC: Worker pool stopped.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-08T05:23:10.162Z: JOB_MESSAGE_DEBUG: Tearing down pending resources...
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-07_21_17_11-4000460191317131930 is in state JOB_STATE_DONE

We check the primary key:

In [9]:
%%bigquery
select count(*)
from hdv_modeled.Results_Beam_DF

      f0_
0  109182

In [10]:
%%bigquery
select count(distinct concat(state,jname,cname,party,office,year))
from hdv_modeled.Results_Beam_DF

      f0_
0  109182

Lastly, we check the foreign key constraints:

In [11]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam_DF rb left join hdv_modeled.Jurisdiction_Beam_DF jb
on rb.state = jb.state where jb.state is null

   f0_
0    0

In [12]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam_DF rb left join hdv_modeled.Jurisdiction_Beam_DF jb
on rb.jname = jb.jname where jb.jname is null

   f0_
0    0

In [13]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam_DF rb left join hdv_modeled.Jurisdiction_Beam_DF jb
on rb.fipscode = jb.fipscode where jb.fipscode is null

   f0_
0    0

In [14]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam_DF rb left join hdv_modeled.Candidate_Beam_DF jb
on rb.cname = jb.cname where jb.cname is null

   f0_
0    0

In [15]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam_DF rb left join hdv_modeled.Candidate_Beam_DF jb
on rb.party = jb.party where jb.party is null

   f0_
0    0

In [16]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam_DF rb left join hdv_modeled.Election jb
on rb.office = jb.office where jb.office is null

   f0_
0    0

In [17]:
%%bigquery
select count(*) from hdv_modeled.Results_Beam_DF rb left join hdv_modeled.Election jb
on rb.year = jb.year where jb.year is null

   f0_
0    0