### ingest data from harvard dataset ###

In [1]:
dataset_id = "hdv_staging"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'alert-result-266803:hdv_staging' successfully created.

In [3]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.House2018 \
'gs://bucket_mbayh_dataset1/dataset1/2018-house-long.csv'

Waiting on bqjob_r5f20e4922c8e118e_000001702c7ccd0c_1 ... (2s) Current status: DONE

In [4]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.House2016 \
'gs://bucket_mbayh_dataset1/dataset1/2016-house-long.csv'

Waiting on bqjob_r330793ca81093e20_000001702c7cf868_1 ... (2s) Current status: DONE

In [5]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Senate2018 \
'gs://bucket_mbayh_dataset1/dataset1/2018-senate-long.csv'

Waiting on bqjob_r1f2c9c18fe1a869d_000001702c7d28d6_1 ... (2s) Current status: DONE

In [6]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Senate2016 \
'gs://bucket_mbayh_dataset1/dataset1/2016-senate-long.csv'

Waiting on bqjob_r4d06e4834298abea_000001702c7d5a85_1 ... (2s) Current status: DONE

In [7]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.President2016 \
'gs://bucket_mbayh_dataset1/dataset1/2016-president-long.csv'

Waiting on bqjob_r731b8c9f61337ed4_000001702c7dc2e2_1 ... (2s) Current status: DONE

### sample records ###

2018 House

In [34]:
%%bigquery
select * from hdv_staging.House2018 order by state
limit 5

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,AK,District 1,290100000,US House,2018,Republican,"Young, Don",2636,5595
1,AK,District 10,291000000,US House,2018,No party,Write-in,22,6457
2,AK,District 10,291000000,US House,2018,Democrat,"Galvin, Alyse S.",4004,6457
3,AK,District 1,290100000,US House,2018,No party,Write-in,29,5595
4,AK,District 1,290100000,US House,2018,Democrat,"Galvin, Alyse S.",2930,5595

2018 Senate

In [35]:
%%bigquery
select * from hdv_staging.Senate2018 order by state
limit 5

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,AZ,Apache,400100000,US Senate,2018,Anti-Terror Party,Edward Davida (write-in),0,25087
1,AZ,Apache,400100000,US Senate,2018,The Old Republic Party,Jonathan Ringham (write-in),1,25087
2,AZ,Apache,400100000,US Senate,2018,Independent,Jeff Pearce (write-in),5,25087
3,AZ,Apache,400100000,US Senate,2018,Libertarian,Barry Hess (write-in),2,25087
4,AZ,Apache,400100000,US Senate,2018,Green,Angela Green,961,25087

2016 House

In [36]:
%%bigquery
select * from hdv_staging.House2016 order by state
limit 5

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,AK,District 1,290100000,US House,2016,Independent,"Souphanavong, Bernie",188,6345
1,AK,District 1,290100000,US House,2016,Republican,"Young, Don",2989,6345
2,AK,District 1,290100000,US House,2016,Independent,Write-in,25,6345
3,AK,District 1,290100000,US House,2016,Libertarian,"McDermott, Jim C.",738,6345
4,AK,District 1,290100000,US House,2016,Democrat,"Lindbeck, Steve",2405,6345

2016 Senate

In [37]:
%%bigquery
select * from hdv_staging.Senate2016 order by state
limit 5

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,AK,District 1,290100000,Senate,2016,Democrat,"Metcalfe, Ray",802,6413
1,AK,District 1,290100000,Senate,2016,Republican,"Murkowski, Lisa",2950,6413
2,AK,District 1,290100000,Senate,2016,Libertarian,"Miller, Joe",1830,6413
3,AK,District 1,290100000,Senate,2016,NA,"Gianoutsos, Ted",36,6413
4,AK,District 1,290100000,Senate,2016,NA,"Craig, Breck A.",47,6413

2016 President

In [38]:
%%bigquery
select * from hdv_staging.President2016 order by state
limit 5

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,AK,District 1,290100000,President,2016,NA,Rocky Roque de la Fuente,28,6638
1,AK,District 1,290100000,President,2016,Green,Jill Stein,143,6638
2,AK,District 1,290100000,President,2016,Libertarian,Gary Johnson,416,6638
3,AK,District 1,290100000,President,2016,Democrat,Hillary Clinton,2573,6638
4,AK,District 1,290100000,President,2016,Constitution,Darrell Castle,73,6638

Each table head matches the original CSV files, so we infer that our data loaded correctly.

### querying our tables ###

1. We first look for the 10 most popular candidates in Harris County, TX for the 2018 House elections,
as determined by popular vote. This gives us an insight into how effectively candidates in the Houston area were able to 
excite their supporters to vote.

In [15]:
%%bigquery 
select * from hdv_staging.House2018 WHERE state = 'TX' and jurisdiction = 'Harris'
ORDER BY votes DESC
limit 10

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,TX,Harris,4820100000,US House,2018,Republican,Dan Crenshaw,139188,263392
1,TX,Harris,4820100000,US House,2018,Democrat,Sheila Jackson Lee,138704,184332
2,TX,Harris,4820100000,US House,2018,Democrat,Lizzie Pannill Fletcher,127959,243601
3,TX,Harris,4820100000,US House,2018,Democrat,Todd Litton,119992,263392
4,TX,Harris,4820100000,US House,2018,Republican,John Culberson,115642,243601
5,TX,Harris,4820100000,US House,2018,Democrat,Al Green,95557,106703
6,TX,Harris,4820100000,US House,2018,Democrat,Sylvia R. Garcia,88188,117494
7,TX,Harris,4820100000,US House,2018,Republican,Michael T. McCaul,71717,114557
8,TX,Harris,4820100000,US House,2018,Republican,Brian Babin,61528,99907
9,TX,Harris,4820100000,US House,2018,Democrat,Mike Siegel,40820,114557

2. Next, we compare how 2018 Senate candidates performed in Travis County, TX. This gives us insight into how the Austin area voted.

In [16]:
%%bigquery 
select * from hdv_staging.Senate2018 WHERE state = 'TX' and jurisdiction = 'Travis'
ORDER BY votes DESC

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,TX,Travis,4845300000,US Senate,2018,Democrat,Beto O'Rourke,359772,484204
1,TX,Travis,4845300000,US Senate,2018,Republican,Ted Cruz,119278,484204
2,TX,Travis,4845300000,US Senate,2018,Libertarian,Neal M. Dikeman,5154,484204

3. For the 2016 House elections, we see which 10 counties Democrats pulled the most votes in. This shows which areas in Maine are Democrat strongholds.

In [20]:
%%bigquery 
select * from hdv_staging.House2016 WHERE state = 'ME' and party = 'Democrat'
ORDER BY votes DESC
limit 10

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,ME,PORTLAND,2300560545,US House,2016,Democrat,"Pingree, Chellie",28947,38577
1,ME,SOUTH PORTLAND,2300571990,US House,2016,Democrat,"Pingree, Chellie",10229,15105
2,ME,LEWISTON,2300138740,US House,2016,Democrat,"Cain, Emily Ann",9008,17257
3,ME,BANGOR,2301902795,US House,2016,Democrat,"Cain, Emily Ann",8341,15912
4,ME,BRUNSWICK,2300508430,US House,2016,Democrat,"Pingree, Chellie",7913,12892
5,ME,SCARBOROUGH,2300566145,US House,2016,Democrat,"Pingree, Chellie",6979,12994
6,ME,SACO,2303164675,US House,2016,Democrat,"Pingree, Chellie",6355,11011
7,ME,BIDDEFORD,2303104860,US House,2016,Democrat,"Pingree, Chellie",6105,10313
8,ME,AUBURN,2300102060,US House,2016,Democrat,"Cain, Emily Ann",5870,11986
9,ME,WESTBROOK,2300582105,US House,2016,Democrat,"Pingree, Chellie",5816,10020

4. Here, we see which counties independent candidates performed best in, by percentage, in the 2016 Senate elections. Interestingly, the top 10 performances are all in Arizona!

In [26]:
%%bigquery 
select * from hdv_staging.Senate2016 WHERE party = 'Independent'
ORDER BY votes/total_votes DESC
limit 10

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,AZ,Navajo,401700000,Senate,2016,Independent,PAT QUINN,63,175
1,AZ,Graham,400900000,Senate,2016,Independent,SELENA LOPEZ,62,184
2,AZ,Mohave,401500000,Senate,2016,Independent,PAT QUINN,70,216
3,AZ,Coconino,400500000,Senate,2016,Independent,PAT QUINN,67,208
4,AZ,SantaCruz,402300000,Senate,2016,Independent,SELENA LOPEZ,66,241
5,AZ,SantaCruz,402300000,Senate,2016,Independent,PAT QUINN,62,241
6,AZ,Cochise,400300000,Senate,2016,Independent,PAT QUINN,72,292
7,AZ,Gila,400700000,Senate,2016,Independent,PAT QUINN,43,175
8,AZ,Apache,400100000,Senate,2016,Independent,PAT QUINN,71,298
9,AZ,Cochise,400300000,Senate,2016,Independent,SELENA LOPEZ,69,292

5. Lastly, we see which Florida counties Donald Trump earned the most votes. Florida is always a swing state, so it is interesting to see which regions fared well for the incumbent.

In [25]:
%%bigquery 
select * from hdv_staging.President2016 WHERE candidate = 'Donald Trump' and state = 'FL'
ORDER BY votes DESC
limit 10

,state,jurisdiction,fipscode,office,year,party,candidate,votes,total_votes
0,FL,Miami-Dade,1208600000,President,2016,Republican,Donald Trump,333999,980204
1,FL,Palm Beach,1209900000,President,2016,Republican,Donald Trump,272402,662332
2,FL,Hillsborough,1205700000,President,2016,Republican,Donald Trump,266870,597660
3,FL,Broward,1201100000,President,2016,Republican,Donald Trump,260951,831951
4,FL,Pinellas,1210300000,President,2016,Republican,Donald Trump,239201,492403
5,FL,Duval,1203100000,President,2016,Republican,Donald Trump,211672,432695
6,FL,Orange,1209500000,President,2016,Republican,Donald Trump,195216,546275
7,FL,Lee,1207100000,President,2016,Republican,Donald Trump,191551,326420
8,FL,Brevard,1200900000,President,2016,Republican,Donald Trump,181848,314752
9,FL,Polk,1210500000,President,2016,Republican,Donald Trump,157430,284314